.App {
  margin: 0% 15%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f4f4f4;
  padding: 5%;
  color: #666666;
}

.endowment-form {
  margin: 0% 10%;
}

.endowment-form div {
  margin: 5% 0%;
}

.calculate-button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1% 2%;
  font-size: 16px
}

label {
  display: block;
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  color: #3cce88
}

th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

h2 {
  margin-top: 30px;
  color: #333;
}